.leaflet-control {
  cursor: pointer;
}
.leaflet-verticalcenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 10px;
}
.leaflet-verticalcenter .leaflet-control {
    margin-bottom: 10px;
}
.leaflet-horizontalcenter {
    position: absolute;
    left: 50%; /* possible because the placeholder's parent is the map */
    transform: translateX(-50%); /* using the CSS3 Transform technique */
}
.leaflet-horizontalcenter .leaflet-control {
    margin-bottom: 10px;
}
.leaflet-tooltip-top:before, .leaflet-tooltip-bottom:before, .leaflet-tooltip-left:before, .leaflet-tooltip-right:before {
    border: none;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: 1px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
}

/* agronomicapp */
* {
	padding: 0;
	margin: 0;
}
hr {
	margin: 8px 0px;
	height:1px;
	border-width:0;
	color:gray;
	background-color:gray;
}
table, tr {
    border: 1px solid darkgreen;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
table {
	width:100%;
}
html, body {
	/*width: 100%;*/
	height: 100%;
	font-family: 'Lato', sans-serif;
}
h1 {
	padding: 5px;
	background: white;
}
em, h1, h2, h3, h4 {
	color: rgba(124,78,42,1);
}
img.logo {
	padding: 8px;
	height: 36px;
	width: auto;
	position: fixed; 
	top: 0;
}
img.wur {
	right: 0;
	padding: 12px;
	height: 30px;
}
img.nivalogo {
	height: 54px;
	padding: 0;
	right: 180px;
}
h1.header {
	height: 36px;
	padding-left:80px;
	padding-top:5px;
	margin-bottom:5px;
	color: rgba(124,78,42,1);	/*rgba(0,74,109,1);*/
}
h1.header > span {
	font-size: 14px;
}
h1.footer {
	height: 16px !important;
	margin-top:1px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 11px;
	color: rgba(124,78,42,1);	/*rgba(0,74,109,1);*/
}
header {
	width: 100%;
	position: fixed; 
	top: 0;
	padding-top: 4px;
	/*left: 300px;*/
	left: 0px;
	height: 50px !important;
	opacity:.8;
	box-shadow: 0px 2px 22px 0px rgba(0,0,0, 0.1);
    background-color: #FFF;
    min-width: 800px
}
footer {
	width: 100%;
	position: fixed; 
	bottom: 0;
	padding-top: 1px;
	padding-bottom: 1px;
	/*left: 300px;*/
	left: 0px;
	height: 0px !important;
	box-shadow: 0px 2px 22px 0px rgba(0,0,0, 0.1);
	opacity:.8;
}
.main {
    position:absolute;
    height: 100%;
    width: 100%;
	height: calc(100% - 56px);
	margin:54px 0 2px 0;
}
.content {
    position:relative;
    height: 100%;
    width: 100%;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    padding: 5px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: -49.99vw;
    top: -10px;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal > div {
    width: 200px;
	margin: auto;
	margin-top: 10px;
}

.niva {
    padding: 0px 0px;
    font-family: 'Lato', sans-serif;
    background: rgba(238,238,238,0.9);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0px;
	min-width: 200px;
	max-width: 400px;
}
.niva  {
	max-height: 80vh;
	max-height: calc(100vh - 100px);
}
.niva input[type="text"],
.niva textarea {
    width: 90%;
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
}
.niva textarea {
	min-height: 100px;
}
.niva form textarea {
	width: 80%;
	width: calc(100% - 40px);
	max-width: calc(100% - 40px);
}
.niva h4 {
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    background-color: rgba(124,78,42,1);
    padding: 5px;
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px; 
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.label {
    background: transparent;
    border: none;
    box-shadow: none;
	color:white;
    font-family: 'Lato', sans-serif;
	font-size: 15px;
	text-shadow: 1px 1px black, -1px -1px black, 0px -1px black,-1px 0px black, 1px 0px black, 0px 1px black, -1px 1px black, 1px -1px black;
}
.tinylabel {
    background: transparent;
    border: none;
    box-shadow: none;
	color:white;
    font-family: 'Lato', sans-serif;
	font-size: 10px;
	text-shadow: 1px 1px black, -1px -1px black, 0px -1px black,-1px 0px black, 1px 0px black, 0px 1px black, -1px 1px black, 1px -1px black;
}

.boxcontainer {
	line-height: 18px;
}

.submit-button {
    color: white;
    background-color: rgba(90,180,225,1);
	font-size: 16px;
	font-weight: 700; /* bold;*/
	padding: 4px 7px;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	float: right;
}

button.close {
    background: transparent;
	border-style: none;
}
.close:after {
    content: '\0274C';
    font-size: 15px;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
}

div.panel {
    padding: 0 4px;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
	/* overflow-y: auto; */
}

.padtop {
	margin-top: 8px
}
.padbottom {
	margin-bottom: 8px
}
.padleft {
	margin-left: 8px
}
.padright {
	margin-right: 8px
}
.vizdisabled {
    pointer-events: none;
    opacity: 0.7;
}
